.landing__electricidad--background{
    background-image: url(../images/electricidadback.png);
}

.landing__plomeria--background{
    background-image: url(../images/plomeriaback.png);
}

.landing__pintura--background{
    background-image: url(../images/pinturaback.png);
}

.landing__hidrolavados--background{
    background-image: url(../images/hidrolavados.png);
}

.landing__gas--background{
    background-image: url(../images/gasback.png);
}

.landing__porcelanato--background{
    background-image: url(../images/porcelanatoback.png);
}

.landing__reparacion--background{
    background-image: url(../images/reparacionback.png);
}

.landing{
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-size: cover;
    height: 95vh;
    @media screen and (max-width:1024px){
        height: 60vh;
        background-color: rgb(218, 214, 214);
        border:solid 1px gray;
        border-radius: 20px;
        margin: 5px 50px 5px 50px;
    }
    @media screen and (max-width:480px) {
        height:85vh;
        margin:5px 30px 0px 30px;
        margin-bottom: 20px;
        background-image: none;
    }
    .landing__titulo{
        font-size: 50px;
        color: $colorAzul;
        line-height: 20px;
        text-shadow: 2px 2px 2px $colorOscuro;
        @media screen and (max-width:1024px) {
            width: 400px;
            margin-left: 50px;
            margin-right: 50px;
            font-size: 35px;
            line-height: 40px;
            text-align: center;
        }
        @media screen and (max-width:480px) {
            font-size: 30px;
            width: 300px;
            margin:0px;
        }
    }
    .landing__texto{
        text-align: justify;
        width: 500px;
        background-color: hsla(2, 100%, 100%, 0.7);
        border-radius: 12px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: -1px 1px 1px -1px black ;
        @media screen and (max-width:1024px) {
            width: 75vw;
        }
        @media screen and (max-width:480px) {
            font-size: 15px;
            width: 250px;
        }
    }
}






