footer{
    background-color: map-get($map: $paleta, $key: 'oscuro');
    padding-top: 20px;
    padding-bottom: 40px;
    height: 100%;
    .footer__texto{
        text-align: center;
        color: map-get($map: $paleta, $key:'terciario' );
        margin: 0;
        padding: 0;
        margin-left: 2px;
        margin-right: 2px;
        @media screen and (max-width:480px) {
            font-size: 15px;
        }
        }
    .footer__redes__img{
        border-radius: 30px;
        background-color: white;
        margin: 5px;
        padding: 2px;
        height: 30px;
        width: 30px;
        @media screen and (max-width:480px) {
            margin: 5px;
            padding: 3px;
            height: 40px;
            width: 40px;
        }
        }
    .footer__logoandredes{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: map-get($map: $paleta, $key:'secundario');
        margin: 50px;
        border-radius: 15px;
        @media screen and (max-width:1024px) {
            height: 200px;
            margin-top: 0px;
        }
        @media screen and (max-width:480px) {
            margin: 10px;
            height: 130px;
        }
        }
    .footer__logo {
        width: 150px;
        margin: 20px;
        @media screen and (max-width:1024px) {
            width: 100px;
        }
        @media screen and (max-width:480px) {
            width: 60px;
            margin: 10px;
        }
        }
    .footer__redes{
        display: flex;
        justify-content: center;   
        }
}