header{
    width: 100%;
    list-style: none;
    font-family: 'Mukta', sans-serif;
    background-color: map-get($map: $paleta, $key:'primario' ) !important;
    color: $colorGris;
    position: sticky;
}