.recomendaciones{
    background-color: map-get($map: $paleta, $key:'primario' );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
    @media screen and (max-width:480px) {
        padding-bottom: 50px;
    }
    
    .recomendaciones__titulo{
        font-family: 'Mukta', sans-serif;
        text-transform: uppercase;
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
        @media screen and (max-width:1024px) {
            text-align: center;
            margin-top: 50px;
            font-size: 48px;
            line-height: 50px;
        }
        @media screen and (max-width:480px) {
            font-size: 35px;
            margin-top: 40px;
            margin-bottom: 0px;
            text-align: center;
        }
    }
}