.carrousel__boton{
    margin-top: 50px;
    height: 65px;
    width: 500px;
    background-color: map-get($map: $paleta, $key:'accion' );
    border-radius: 15px;
    font-size: 20px;
    text-transform: uppercase;
    @media screen and (max-width:1024px){
        margin-top: 0px;
        width: 200px;
        height: 50px;
    }
    @media screen and (max-width:480px){
        margin-top: 0px;
        height: 40px;
        width: 150px;
        font-size: 15px;
    }
    }

    .card__boton{
        @extend .carrousel__boton;
        margin-top: 40px;
    }

    .landing__boton{
        @extend .carrousel__boton;
    }

    .contacto__presupuesto{
        @extend .carrousel__boton;
    }