$colorAmarillo:#F2B90C;

$colorAzul:#8FAFD9;

$colorGris:#464646;

$colorOscuro:#08001f;

$colorMarron:#BF8C80;

$fontFamily:'Mukta', sans-serif;

$paleta:(
'primario':#8FAFD9, 'secundario':#BF8C80,'terciario':#464646, 'oscuro':#08001f, 'accion':#F2B90C
);